<h4>これはktmScoreId{{ktmScore.ktmScoreId}}</h4>
<p style="white-space:pre;">{{ktmScore.patientID}}</p>
<p>作成者：{{ktmScore.createdBy}}</p>
<div>
  <a href="/ktmScores/{{ktmScore.ktmScoreId}}/edit">この予定を編集する．</a>
</div>
<h3>スコア</h3>
<ul>
  <li>ktmScoreId: {{ktmScore.ktmScoreId}}</li>
  <li>patientID: {{ktmScore.patientID}}</li>
  <li>Q1Value: {{ktmScore.Q1Value}}</li>
  <li>Q2Value: {{ktmScore.Q2Value}}</li>
  <li>Q3Value: {{ktmScore.Q3Value}}</li>
  <li>Q4Value:{{ktmScore.pQ4Value}}</li>
  <li>Q5Value: {{ktmScore.Q5Value}}</li>
  <li>Q6Value: {{ktmScore.Q6Value}}</li>
  <li>Q7Value: {{ktmScore.Q7Value}}</li>
  <li>Q8Value: {{ktmScore.kQ8Value}}</li>
  <li>Q9Value: {{ktmScore.Q9Value}}</li>
  <li>Q10Value: {{ktmScore.Q10Value}}</li>
  <li>kQ11Value: {{ktmScore.Q11Value}}</li>
  <li>Q12Value: {{ktmScore.Q12Value}}</li>
  <li>Q13Value: {{ktmScore.Q13Value}}</li>
  <li>createdBy: {{ktmScore.createdBy}}</li>
  <li>updatedAt: {{ktmScore.updatedAt}}</li>
</ul>

<p>test: {{ktmScore.user.userName}}</p>